{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block base_title %}Login form{% endblock %}
{% block content %}
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-md-4">
            <div class="card bg-light">
                <div class="card-header">Login form</div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="form-group">
                            <input type="submit" class="btn btn-success float-right" value="Login">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}