{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
     <div class="row h-100 justify-content-center align-items-center">
        <div class="col-md-5">
            <div class="card bg-light">
                <div class="card-header">{% block title %}{% endblock %}</div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="form-group">
                            <input type="submit" class="btn btn-success float-right" value="{% block button_text %}{% endblock %}">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block js %}
    <script type="text/javascript">
    let settings = {
            language: 'en',
            dateFormat: 'dd/mm/yyyy',
            position: 'bottom right',
            autoClose: true
        };

        $('#id_birth_date').datepicker(settings);
    </script>
{% endblock js %}